<main>
  <h1>Welcome to Secret Club!</h1>
  <p class="lead"> You do not talk about secret club.</p>
  <p class="lead">
    <%= link_to "Sign up", signup_path, class: 'btn btn-secondary btn-lg' %>
    <%= link_to "View posts", posts_path, class: 'btn btn-secondary btn-lg' %>
    <%= link_to "Log in", signin_path, class: 'btn btn-secondary btn-lg' %>
  </p>
</main>


